PyPDF2>=3.0.0
fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
python-multipart
psycopg2-binary
pydantic
python-socketio[asyncio_client]
aiofiles
requests
python-dotenv
dataiku-api-client
redis>=5
openai
numpy
pymupdf
rapidfuzz
certifi
pdfminer.six